<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationID</key>
	<string>bb632ebb08f4cf6cc0b0d0490a382e3f8c96ced447011afc54e00c0ee353af5a</string>
	<key>Server</key>
	<string>https://ee599ziqing-6fa3cdf06695.herokuapp.com/parse</string>
	<key>LiveQueryServer</key>
	<string></string>
	<key>UseTransactions</key>
	<true/>
	<key>DeleteKeychainIfNeeded</key>
	<true/>
</dict>
</plist>
